In [1]:
import sqlite3
import pandas as pd

In [15]:
conn = sqlite3.connect('nba_stat.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS players (
    id INTEGER PRIMARY kEY,
    name TEXT,
    team TEXT,
    position TEXT, 
    ppg REAL
)
''')

conn.commit()

In [19]:
cursor.execute("SELECT * FROM players")
rows = cursor.fetchall()

for row in rows:
    print(row)
conn.close()

In [24]:
conn = sqlite3.connect('nba_stat.db')
cursor = conn.cursor()

players_data = [
    ("LeBron James", "Lakers","SF",25.4),
    ("Stephen Curry","WArriots","PG","27.3"),
    ("Giannis Antetokounmpo", "Bucks","SF",28.2),
    ("Kevin Durant","Suns", "SF",28.2),
    ("Nikola Jokic","Nuggets","C",26.5)
]

cursor.executemany('''
    INSERT INTO players (name, team, position, ppg)
    VALUES(?,?,?,?)
''', players_data)

conn.commit()

In [25]:
cursor.execute("SELECT * FROM players")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'LeBron James', 'Lakers', 'SF', 25.4)
(2, 'Stephen Curry', 'WArriots', 'PG', 27.3)
(3, 'Giannis Antetokounmpo', 'Bucks', 'SF', 28.2)
(4, 'Kevin Durant', 'Suns', 'SF', 28.2)
(5, 'Nikola Jokic', 'Nuggets', 'C', 26.5)

In [27]:
df = pd.read_sql_query("SELECT * from players", conn)

   id                   name      team position   ppg
0   1           LeBron James    Lakers       SF  25.4
1   2          Stephen Curry  WArriots       PG  27.3
2   3  Giannis Antetokounmpo     Bucks       SF  28.2
3   4           Kevin Durant      Suns       SF  28.2
4   5           Nikola Jokic   Nuggets        C  26.5

In [31]:
cursor.execute("SELECT name, team, ppg FROM players WHERE ppg>27")
rows = cursor.fetchall()

for row in rows:
    print(row)

('Stephen Curry', 'WArriots', 27.3)
('Giannis Antetokounmpo', 'Bucks', 28.2)
('Kevin Durant', 'Suns', 28.2)

In [38]:
cursor.execute("SELECT AVG(ppg) FROM players")
avg_ppg = cursor.fetchone()[0]
print("Average PPG: ", round(avg_ppg,2))

Average PPG:  27.12

In [66]:
cursor.execute('''
SELECT position, AVG(ppg) AS avg_ppg
FROM players
GROUP BY position
''')

rows = cursor.fetchall()
for row in rows:
    print(f"Position: {row[0]}, Avg PPG: {round(row[1],2)}")

Position: C, Avg PPG: 26.5
Position: PG, Avg PPG: 27.3
Position: SF, Avg PPG: 27.27

In [61]:
cursor.execute("""
SELECT AVG(ppg) 
FROM players 
WHERE position = 'SF'
""")

avg_sf_ppg = cursor.fetchone()[0]

print("Average PPG for SF:", round(avg_sf_ppg,2))

Average PPG for SF: 27.27

In [81]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS teams(
    team_name TEST PRIMARY KEY,
    city TEXT, 
    coach TEXT
)
""")

teams_data = [
    ("Lakers","LOS Angeles","JJ Redick"),
    ("Warriors","San Francisco","Steve Kerr"),
    ("Bucks","Milwaukee","Doc Rivers"),
    ("Suns", "Phoenix","Frank Vogel"),
    ("Nuggets","Denver","Michael MAlone")
    
]

cursor.executemany('''
    INSERT OR IGNORE INTO teams (team_name,city,coach)
    VALUES(?,?,?)
''',teams_data)
conn.commit()

In [82]:
rows = cursor.fetchall()

for row in rows:
    print(row)

In [83]:
cursor.execute('''
SELECT players.name, players.team, teams.city, teams.coach
FROM players 
JOIN teams ON players.team = teams.team_name
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

('LeBron James', 'Lakers', 'LOS Angeles', 'JJ Redick')
('Giannis Antetokounmpo', 'Bucks', 'Milwaukee', 'Doc Rivers')
('Kevin Durant', 'Suns', 'Phoenix', 'Frank Vogel')
('Nikola Jokic', 'Nuggets', 'Denver', 'Michael MAlone')